.loader-container {
    width: 100%;
    height: 100%;
  }
  .loader{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bar {
    height: 20px;
    width: 4px;
    margin: 3px;
    background-color: #3498db;
    display: inline-block;
    animation: loader-animation 1s ease-in-out infinite;
  }
  
  .bar:nth-child(1) {
    animation-delay: 0s;
  }
  
  .bar:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .bar:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .bar:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  .bar:nth-child(5) {
    animation-delay: 0.4s;
  }
  
  .bar:nth-child(6) {
    animation-delay: 0.5s;
  }
  
  .bar:nth-child(7) {
    animation-delay: 0.6s;
  }
  
  .bar:nth-child(8) {
    animation-delay: 0.7s;
  }
  
  @keyframes loader-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.2);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
    }
  }