@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.specificFont{
    font-family: 'Tilt Prism', cursive;
}
.backgroundImage{
    background-image: url("./assets/background_image.jpg");
    background-position: center;
    background-size: cover;
}
.nightSky{
    background: #000;
}
.noBg{
    background: none;
    border: none;
    outline: none;
}

.boxShadow{
    box-shadow: 0 0 2000px 1000px rgba(0, 0, 0, 0.5);
}

.myBlur{
    filter: blur(10px);
}
.translate30px{
    transform: translateY(-30px);
}
main.customScroll::-webkit-scrollbar {
    width: 5px;
}

/* Track */
main.customScroll::-webkit-scrollbar-track {
    background: #888;
    border-radius: 50000px;

}

/* Handle */
main.customScroll::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 50000px;
}

/* Handle on hover */
main.customScroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width:700px) {
    .mediaMargin{
        margin-left: 0;
        margin-top: 4rem;
    }
    .mediaBlock{
        display: block;
        
    }
    .mediaHidden{
        display: none;
    }
    .mediaFlexCol{
        flex-direction: column;
    }
    .mediaWidth{
        width: 100%;
    }
    .mediavw{
      width: 100vw;
    }
}
