@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.specificFont{
    font-family: 'Tilt Prism', cursive;
}
.backgroundImage{
    background-image: url("./assets/background_image.jpg");
    background-position: center;
    background-size: cover;
}
.nightSky{
    background: #000;
}
.noBg{
    background: none;
    border: none;
    outline: none;
}

.boxShadow{
    box-shadow: 0 0 2000px 1000px rgba(0, 0, 0, 0.5);
}

.myBlur{
    filter: blur(10px);
}
.translate30px{
    transform: translateY(-30px);
}
main.customScroll::-webkit-scrollbar {
    width: 5px;
}

/* Track */
main.customScroll::-webkit-scrollbar-track {
    background: #888;
    border-radius: 50000px;

}

/* Handle */
main.customScroll::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 50000px;
}

/* Handle on hover */
main.customScroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width:700px) {
    .mediaMargin{
        margin-left: 0;
        margin-top: 4rem;
    }
    .mediaBlock{
        display: block;
        
    }
    .mediaHidden{
        display: none;
    }
    .mediaFlexCol{
        flex-direction: column;
    }
    .mediaWidth{
        width: 100%;
    }
    .mediavw{
      width: 100vw;
    }
}

.loader-container {
    width: 100%;
    height: 100%;
  }
  .loader{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bar {
    height: 20px;
    width: 4px;
    margin: 3px;
    background-color: #3498db;
    display: inline-block;
    animation: loader-animation 1s ease-in-out infinite;
  }
  
  .bar:nth-child(1) {
    animation-delay: 0s;
  }
  
  .bar:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .bar:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .bar:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  .bar:nth-child(5) {
    animation-delay: 0.4s;
  }
  
  .bar:nth-child(6) {
    animation-delay: 0.5s;
  }
  
  .bar:nth-child(7) {
    animation-delay: 0.6s;
  }
  
  .bar:nth-child(8) {
    animation-delay: 0.7s;
  }
  
  @keyframes loader-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.2);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
    }
  }
  